:root {
        --white: #fff;
        --primary_clr: #29313D;
        --secondary_clr: #7968EF;
}

/* font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;  */

/* ==============================
         Common Part Start
 ================================ */

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

a {
        text-decoration: none;
        display: inline-block;
}

ul,
ol {
        list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
        line-height: 0.8;
}

.container {
        width: 1410px;
        margin: 0 auto;
}

.heading {
        color: var(--primary_clr);
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
}

.sub__heading {
        color: var(--primary_clr);
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
        transition: all linear .3s;
}

.title {
        color: var(--secondary_clr);
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        text-transform: capitalize;
}

.paragraph {
        color: var(--primary_clr);
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 200%;
        text-transform: capitalize;
}

.commonbtn {
        color: var(--white);
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 200%;
        text-transform: capitalize;
        padding: 14px 28px;
        border: 1px solid var(--white);
        border-radius: 18px;
        transition: all linear .3s;
}

.commonbtn:hover {
        background: #6A55EA;
        border: 1px solid #6A55EA;
}

/* ==============================
         Common Part End
 ================================ */

/* ==============================
         Navbar Part Start
 ================================ */
#nav {
        padding: 32px 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
}

.nav__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.nav__logo {
        width: 20%;
}

.nav__menu {
        width: 60%;
}

.nav__list {
        display: flex;
        column-gap: 74px;
        align-items: center;
        justify-content: center;
}

.nav__link {
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        position: relative;
}

.nav__link::after {
        position: absolute;
        content: "";
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 3px;
        background-color: var(--secondary_clr);
        border-radius: 5px;
        transition: all linear .3s;
}

.nav__link:hover::after {
        width: 60%;
}

.nav__btn {
        width: 20%;
        text-align: right;
}

/* ==============================
         Navbar Part End
 ================================ */

/* ==============================
         Banner Part Start
 ================================ */
#banner {
        padding: 192px 0 700px;
        background: url(../images/banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
}

.banner__btn {
        display: flex;
        column-gap: 20px;
        justify-content: center;
        align-items: center;

}

.banner__btn__item {
        color: var(--white);
        opacity: 0.6;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        text-transform: uppercase;
        padding: 10px 15px;
        border: 1px solid var(--white);
        border-radius: 10px;
}

.banner__heading {
        width: 967px;
        margin: 0 auto;
        color: var(--white);
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 130%;
        text-transform: capitalize;
        padding: 30px 0 20px;
}

.banner__paragraph {
        width: 780px;
        color: var(--white);
        margin: 0 auto;
        opacity: 0.6;
        text-align: center;
}

.banner__form {
        width: 638px;
        margin: 0 auto;
        z-index: 999;
}

.banner__form__group {
        margin-top: 48px;
        background-color: var(--white);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        z-index: 1000;
}

.banner__form__input {
        padding: 30px;
        border-radius: 20px;
        width: 100%;
        border: none;
        outline: none;
        text-transform: capitalize;
        color: var(--primary_clr);
}

.banner__form__btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 30px;
        color: var(--white);
        background: #6A55EA;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 100%;
        text-transform: capitalize;
        padding: 30px;
        border: none;
        cursor: pointer;
}

.banner__shape01 {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 999;
        width: 100%;
}

.banner__shape02 {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 99;
        width: 100%;
        animation: moveUpDownShape2 4s ease-in-out infinite;
}

@keyframes moveUpDownShape2 {

        0%,
        100% {
                transform: translateY(0);
        }

        50% {
                transform: translateY(15px);
        }
}

.banner__shape03 {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 9;
        width: 100%;
        animation: moveUpDownShape3 4s ease-in-out infinite;
}

@keyframes moveUpDownShape3 {
        0% {
                transform: translateY(0);
        }

        50% {
                transform: translateY(-15px);
        }
}

.banner__shape01 img,
.banner__shape02 img,
.banner__shape03 img {
        width: 100%;
        display: block;
}

.banner__shape04 {
        position: absolute;
        bottom: 12%;
        right: 0;
        z-index: 998;
        animation: moveRocket 5s ease-in-out infinite;
}

@keyframes moveRocket {
        0% {
                transform: translateY(0) translateX(0);
        }

        50% {
                transform: translateY(-30px) translateX(10px);
        }

        100% {
                transform: translateY(0) translateX(0);
        }
}

/* ==============================
         Banner Part End
 ================================ */

/* ==============================
         Company Part Start
 ================================ */
#company {
        position: relative;
        margin-top: -190px;
        z-index: 1000;
}

.company__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 110px;
        row-gap: 50px;
        flex-wrap: wrap;
}

/* ==============================
         Company Part End
 ================================ */

/* ==============================
         Service Part Start
 ================================ */
#service {
        padding: 100px 0;
}

.service__heading h4 {
        text-align: center;
}

.service__heading h2 {
        text-align: center;
        width: 676px;
        margin: 0 auto;
        padding-top: 10px;
}

.service__wrapper {
        padding-top: 60px;
        display: flex;
        column-gap: 32px;
}

.service__img {
        width: 688px;
}

.paragraph--modify {
        color: var(--primary_clr);
        padding-bottom: 80px;
}

.service__img__item {
        width: 100%;
        height: 403px;
        overflow: hidden;
}

.service__img__item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.service__content {
        width: 690px;
        display: flex;
        flex-direction: column;
        row-gap: 36px;
}

.service__item {
        background-color: #F0EDFF;
        padding: 36px 120px 36px 36px;
        display: flex;
        column-gap: 40px;
        align-items: center;
        border-radius: 20px;
        transition: all linear .3s;
        cursor: pointer;
}

.service__item:hover {
        background: rgba(254, 246, 236, 0.8);

}

.service__item:hover .service__item__img {
        background: #F8A64C;

}

.service__item:hover .sub__heading--color {
        color: #F8A64C;

}

.service__item:nth-child(2) {
        background: rgba(254, 246, 236, 0.8);
        transition: all linear .3s;
}

.service__item:nth-child(2) .service__item__img {
        background: #F8A64C;
}

.service__item:nth-child(2):hover {
        background-color: #F0EDFF;
}

.service__item:nth-child(2):hover .service__item__img {
        background: var(--secondary_clr);

}

.service__item:nth-child(2):hover .sub__heading--color {
        color: var(--secondary_clr);
}

.service__item:nth-child(3) {
        background: rgba(232, 252, 242, 0.7);
}

.service__item:nth-child(3) .service__item__img {
        background: #63DE9D;
}

.service__item:nth-child(3):hover {
        background-color: #F0EDFF;
}

.service__item:nth-child(3):hover .service__item__img {
        background: var(--secondary_clr);

}

.service__item:nth-child(3):hover .sub__heading--color {
        color: var(--secondary_clr);
}

.service__item__img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: var(--secondary_clr);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all linear .3s;
}

.paragraph--info {
        color: var(--primary_clr);
        width: 374px;
        text-align: start;
        margin-top: 12px;
}

/* ==============================
         Service Part End
 ================================ */

/* ==============================
         Traffic Part Start
 ================================ */
#traffic {
        padding: 80px 0 97px;
}

.traffic__wrapper {
        display: flex;
        column-gap: 110px;
        align-items: center;
}

.traffic__content {
        width: 596px;
}

.traffic__heading h2 {
        padding-top: 10px;
}

.paragraph--amend {
        color: var(--primary_clr);
        padding: 24px 0 40px;
}

.traffic__shape {
        display: flex;
        column-gap: 60px;
        align-items: center;
}

.traffic__img {
        width: 704px;
        height: 441px;
        overflow: hidden;
        margin-top: 32px;
}

.traffic__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

/* ==============================
         Traffic Part End
 ================================ */

/* ==============================
         Help Part Start
 ================================ */
#help {
        padding: 120px 0 110px;
}

.help__heading h4 {
        text-align: center;
}

.help__heading h2 {
        width: 456px;
        margin: 0 auto;
        padding-top: 14px;
}

.help__item__wrapper {
        display: flex;
        align-items: center;
        column-gap: 30px;
        padding: 60px 0 100px;
}

.help__item {
        width: 330px;
        background: #F8A64C;
        border-radius: 14px;
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        cursor: pointer;
        transition: all linear .3s;
        position: relative;
}

.help__item::after {
        position: absolute;
        content: "";
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        width: 50px;
        height: 50px;
        background: #6A55EA;
        z-index: -99;
        visibility: hidden;
        opacity: 0;
        transition: all linear .3s;
}

.help__item:nth-child(2) {
        background: #F0EDFF;
}

.help__item:nth-child(3) {
        background: rgba(232, 252, 242);
}

.help__item:nth-child(4) {
        background: #FEF6EC;
}

.help__item:hover {
        background: #6A55EA;
        color: #FDFDFD;
}

.help__item:hover::after {
        bottom: -23px;
        visibility: visible;
        opacity: 1;
}

.help__item h4 {
        color: var(--primary_clr);
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 140%;
        text-transform: capitalize;
        transition: all linear .3s;
}

.help__item:hover h4 {
        color: #FDFDFD;
}

.help__content__wrapper {
        display: flex;
        gap: 130px;
}

.help__img {
        width: 480px;
        height: 340px;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
}

.help__img img {
        width: 340px;
        height: 100%;
}

.help__info {
        width: 800px;
}

.help__info h3 {
        color: var(--primary_clr);
        font-family: 'Open Sans', sans-serif;
        font-size: 36px;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
}

.paragraph--tweak {
        color: var(--primary_clr);
        padding: 24px 0 48px;
}

.commonbtn--tweak {
        border-radius: 20px;
        transition: all linear .3s;
        border: 1px solid var(--primary_clr);
        color: #29313D;
}

.commonbtn--tweak:hover {
        color: var(--white);
}

/* ==============================
         Help Part End
 ================================ */

/* ==============================
         Studies Part Start
 ================================ */
#studies {
        padding: 120px 0;
}

.studies__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.heading--padding {
        padding-top: 14px;
}

.commonbtn--option {
        border-radius: 20px;
        transition: all linear .3s;
        border: 1px solid var(--primary_clr);
        color: #29313D;
}

.commonbtn--option:hover {
        color: var(--white);
}

.studies__wrapper {
        display: flex;
        column-gap: 30px;
        align-items: center;
        padding-top: 60px;
}

.studies__img {
        width: 450px;
        height: 326px;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
}

.studies__img:hover+h3 {
        color: var(--secondary_clr);
}

.studies__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all linear .3s;
}

.studies__img img:hover {
        transform: scale(1.1);
}

.studies__item h3 {
        padding: 24px 0 14px;
        transition: all linear .3s;
}

.paragraph--alter {
        color: var(--primary_clr);
        width: 446px;
}

/* ==============================
         Studies Part End
 ================================ */

/* ==============================
         Plans Part End
 ================================ */
#plans {
        padding: 120px 0;
}

.plans__heading {
        text-align: center;
        padding-bottom: 60px;
}

.heading--padding {
        padding-top: 14px;
}

.plans__wrapper {
        text-align: center;
}

/* ==============================
         Plans Part End
 ================================ */

/* ==============================
         Analytics Part Start
 ================================ */
#analytics {
        padding-bottom: 120px;
}

.analytics__wrapper {
        position: relative;
}

.analytics__img {
        width: 1410px;
        height: 500px;
        overflow: hidden;
        border-radius: 70px;
}

.analytics__img img {
        width: 100%;
        height: 100%;
}

.analytics__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.analytics__heading {
        color: var(--white);
        text-align: center;
}

.analytics__paragraph {
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        width: 635px;
        margin: 0 auto;
        padding: 10px 0 28px;
        opacity: 0.6;
}

.analytics__form {
        width: 638px;
        margin: 0 auto;
}

.analytics__form__group {
        background-color: var(--white);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
}

.analytics__form__input {
        padding: 30px;
        border-radius: 20px;
        width: 100%;
        border: none;
        outline: none;
        text-transform: capitalize;
        color: var(--primary_clr);
}

.analytics__form__btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 30px;
        color: var(--white);
        background: #6A55EA;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 100%;
        text-transform: capitalize;
        padding: 30px;
        border: none;
        cursor: pointer;
}

/* ==============================
         Analytics Part End
 ================================ */

/* ==============================
         Footer Part Start
 ================================ */
footer {
        padding: 140px 0 57px;
}

.footer__wrapper {
        display: flex;
        justify-content: space-between;
}

.paragraph--enhance {
        width: 449px;
        padding-top: 44px;
}

.footer__list__wrapper {
        display: flex;
        column-gap: 180px;
}

.footer__content h5 {
        color: var(--primary_clr);
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
}

.footer__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding-top: 48px;
}

.footer__item {
        color: var(--primary_clr);
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-transform: capitalize;
}

.footer__copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 80px;
}

.footer__policy {
        display: flex;
        align-items: center;
        column-gap: 60px;
}

/* ==============================
         Footer Part End
 ================================ */