:root {
        --white: #fff;
        --primary_clr: #29313D;
        --secondary_clr: #7968EF;
}

/* font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;  */

/* ==============================
         Common Part Start
 ================================ */

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

a {
        text-decoration: none;
        display: inline-block;
}

ul,
ol {
        list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
        line-height: 0.8;
}

.container {
        width: 1410px;
        margin: 0 auto;
}

/* ==============================
         Common Part End
 ================================ */


/* ==============================
         Navbar Part Start
 ================================ */
#nav {
        padding: 32px 0;
        background-color: #6A55EA;
}

.nav__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.nav__logo {
        width: 20%;
}

.nav__menu {
        width: 60%;
}

.nav_list {
        display: flex;
        column-gap: 74px;
        align-items: center;
        justify-content: center;
}

.nav__link {
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
}

.nav__btn {
        width: 20%;
        text-align: right;

}

.nav__btn--link {
        color: var(--white);
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 200%;
        text-transform: capitalize;
        padding: 14px 28px;
        border: 1px solid var(--white);
        border-radius: 18px;
        transition: all linear .3s;
}

.nav__btn--link:hover {
        background: #6A55EA;
        border: 1px solid #6A55EA;
}

/* ==============================
         Navbar Part End
 ================================ */

/* ==============================
         Banner Part Start
 ================================ */
/* ==============================
         Banner Part End
 ================================ */

/* ==============================
         Common Part Start
 ================================ */
/* ==============================
         Common Part End
 ================================ */

/* ==============================
         Common Part Start
 ================================ */
/* ==============================
         Common Part End
 ================================ */

/* ==============================
         Common Part Start
 ================================ */
/* ==============================
         Common Part End
 ================================ */

/* ==============================
         Common Part Start
 ================================ */
/* ==============================
         Common Part End
 ================================ */