:root {
        --white: #fff;
        --primary_clr: #29313D;
        --secondary_clr: #7968EF;
}

/* font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;  */

/* ==============================
         Common Part Start
 ================================ */

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

a {
        text-decoration: none;
        display: inline-block;
}

ul,
ol {
        list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
        line-height: 0.8;
}

.container {
        width: 1410px;
        margin: 0 auto;
}

.heading {
        color: var(--primary_clr);
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
}

.sub_heading {
        color: var(--primary_clr);
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
}

.title {
        color: var(--secondary_clr);
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        text-transform: capitalize;
}

.paragraph {
        color: var(--white);
        text-align: center;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 400;
        line-height: 200%;
        text-transform: capitalize;
}

.commonbtn {
        color: var(--white);
        background: #6A55EA;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 100%;
        text-transform: capitalize;
        padding: 30px;
        border: none;
        cursor: pointer;
}



/* ==============================
         Common Part End
 ================================ */


/* ==============================
         Navbar Part Start
 ================================ */
#nav {
        padding: 32px 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
}

.nav__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.nav__logo {
        width: 20%;
}

.nav__menu {
        width: 60%;
}

.nav_list {
        display: flex;
        column-gap: 74px;
        align-items: center;
        justify-content: center;
}

.nav__link {
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
}

.nav__btn {
        width: 20%;
        text-align: right;

}

.nav__btn__link {
        color: var(--white);
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 200%;
        text-transform: capitalize;
        padding: 14px 28px;
        border: 1px solid var(--white);
        border-radius: 18px;
        transition: all linear .3s;
}

.nav__btn__link:hover {
        background: #6A55EA;
        border: 1px solid #6A55EA;
}

/* ==============================
         Navbar Part End
 ================================ */

/* ==============================
         Banner Part Start
 ================================ */
#banner {
        padding: 192px 0 700px;
        background: url(../images/banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}

.banner__btn {
        display: flex;
        column-gap: 20px;
        justify-content: center;
        align-items: center;

}

.banner__btn__item {
        color: var(--white);
        opacity: 0.6;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        text-transform: uppercase;
        padding: 10px 15px;
        border: 1px solid var(--white);
        border-radius: 10px;
}

.banner__heading {
        width: 967px;
        margin: 0 auto;
        color: var(--white);
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 130%;
        text-transform: capitalize;
        padding: 30px 0 20px;
}

.banner__paragraph {
        width: 780px;
        margin: 0 auto;
        opacity: 0.6;
        /* padding: 20px 0 48px; */
}

.banner__form {
        width: 638px;
        margin: 0 auto;
}

.banner__form_group {
        margin-top: 48px;
        background-color: var(--white);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
}

.banner__form_input {
        padding: 30px;
        border-radius: 20px;
        width: 100%;
        border: none;
        outline: none;
        text-transform: capitalize;
        color: var(--primary_clr);
}

.commonbtn--modify {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 0 30px;
}

.banner__shapeOne {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 999;
}

.banner__shapeTwo {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 99;
}

.banner__shapeThree {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 9;
}

.banner__shapeOne img,
.banner__shapeTwo img,
.banner__shapeThree img {
        width: 100%;
        display: block;
}

.banner__shapeFour {
        position: absolute;
        bottom: 14%;
        right: 0;
        z-index: 998;
}

/* ==============================
         Banner Part End
 ================================ */

/* ==============================
         Company Part Start
 ================================ */
#company {
        position: relative;
        margin-top: -190px;
        z-index: 1000;
}

.company__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 110px;
        row-gap: 50px;
        flex-wrap: wrap;
}

/* ==============================
         Company Part End
 ================================ */

/* ==============================
         Service Part Start
 ================================ */
#service {
        padding: 100px 0;
}

.service__heading h4 {
        text-align: center;
}

.service__heading h2 {
        text-align: center;
        width: 676px;
        margin: 0 auto;
        padding-top: 10px;
}

.service__wrapper {
        padding-top: 60px;
        display: flex;
        column-gap: 32px;
        /* align-items: ; */
}

.service__img {
        width: 688px;
}

.paragraph--modify {
        text-align: start;
        color: var(--primary_clr);
        padding-bottom: 80px;
}

.service__img__item {
        width: 100%;
        height: 403px;
        overflow: hidden;
}

.service__img__item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.service__content {
        width: 690px;
        display: flex;
        flex-direction: column;
        row-gap: 36px;
}

.service__item {
        background-color: #F0EDFF;
        padding: 36px 120px 36px 36px;
        display: flex;
        column-gap: 40px;
        align-items: center;
        border-radius: 20px;
}

.service__item:nth-child(2) {
        background: rgba(254, 246, 236, 0.8);
}

.service__item:nth-child(2) .service__item__img {
        background: #F8A64C;
}

.service__item:nth-child(3) {
        background: rgba(232, 252, 242, 0.7);
}

.service__item:nth-child(3) .service__item__img {
        background: #63DE9D;
}

.service__item__img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: var(--secondary_clr);
        display: flex;
        justify-content: center;
        align-items: center;
}

.paragraph--info {
        color: var(--primary_clr);
        width: 374px;
        text-align: start;
        margin-top: 12px;
}

/* ==============================
         Service Part End
 ================================ */

/* ==============================
         Common Part Start
 ================================ */
/* ==============================
         Common Part End
 ================================ */

/* ==============================
         Common Part Start
 ================================ */
/* ==============================
         Common Part End
 ================================ */